*{
    margin:0;
    padding:0;
}
body{
    font-family: sans-serif;
    }
header, footer{
    background-color: #222222;
    width: 100%;
    padding:10px;
    color:#eeeeee;
}
nav{
    background-color: #eeeeee;
}
nav ul{
    padding: 10px;
}
nav li{
    display:inline-block;
}
nav li a{
       margin-left: 10px;
       padding: 10px;
}
section{
    margin:20px 75px;
}
h2{
    margin:10px 0px;
}
footer{
    font-size:smaller;
}
a{
    text-decoration:none;
    color:inherit;
}
a:hover{
    background-color:cadetblue;
    color:inherit;
}