*{
    margin:0;
    padding:0;
}
body{
    font-family: sans-serif;
    }
header, footer{
    background-color: #222222;
    width: 100%;
    padding:10px;
    color:#eeeeee;
}
nav{
    background-color: #eeeeee;
}
nav ul{
    padding:15px;
}
nav li{
    display:inline-block;
    margin-left: 20px;
}
section{
    margin:20px 75px;
}
h2{
    margin:10px 0px;
}
footer{
    font-size:smaller;
}