*{
    margin:0;
    padding:0;
}
body{
    font-family: sans-serif;
    }
header{
    background-color: #222222;
    width: 100%;
    padding:10px;
    color:#eeeeee;
}
nav{
    background-color: #eeeeee;
}
nav ul{
    padding:15px;
}
nav li{
    display:inline-block;
    margin-left: 20px;
}
footer{
    background-color: #222222;
    width: 100%;    
}