<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title>Sleeping Beauty - Dashboard</title>
</head>
<body>
	{% extends "index.html" %} {% block content %}

	<div class="page-header">
		<h2>Dashboard</h2>
	</div>
	<div class="controls">
		<p>
	        <button type="button" class="btn btn-lg btn-default" id="startstopmonitoring">Start/Stop Monitoring</button>
	    </p>
	    <p>    
	        <button type="button" class="btn btn-lg btn-default" id="turnvolumedown">Turn Volume Down</button>
	    </p>
	    <p>       
	        <button type="button" class="btn btn-lg btn-default" id="turnvolumeup">Turn Volume Up</button>
	    </p>
	    <p>    
	        <button type="button" class="btn btn-lg btn-danger" id="poweroff">Power Off</button>
	    </p>
	    <p>    
	        <button type="button" class="btn btn-lg btn-info" id="status">Status</button>
	    </p>
    </div>

	
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
	{% endblock %}
	
</body>
</html>