<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title>Sleeping Beauty Home</title>
<link rel="stylesheet"
	href="{{ url_for('static', filename='css/template.css') }}">
</head>
<body>
	<header>
		<h1>Sleeping Beauty Home</h1>
		<span>Sleep is Golden</span>
	</header>
	<nav>
		<ul>
			<li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
			<li><a href="{{ url_for('webservices') }}">Web Services</a></li>
			<li><a href="{{ url_for('help') }}">Help</a></li>
		</ul>
	</nav>
	
	{% block content %}
    {% endblock %}
    
	<footer>
		<a href="https://kreinto.com">Kreinto</a> &copy; 2019 - version 1.0
	</footer>
</body>
</html>