<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title>Sleeping Beauty Home</title>
<link rel="stylesheet"
	href="{{ url_for('static', filename='css/template.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
</head>
<body>
	<header>
		<h1>Sleeping Beauty Home</h1>
		<span>Sleep is Golden</span>
	</header>
	<nav>
		<ul>
			<li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
			<li><a href="{{ url_for('webservices') }}">Web Services</a></li>
			<li><a href="{{ url_for('help') }}">Help</a></li>
		</ul>
	</nav>

	{% block content %} {% endblock %}

	<footer>
		<a href="https://kreinto.com">Kreinto</a> &copy; 2019 - version 1.0
	</footer>
	<script src="{{ url_for('static', filename='js/template.js') }}"></script>
</body>
</html>